# Pandas foundations

As an aspiring datascientist learning *pandas* is not optional, let's dive in

## Inspecting data

### 1. head() method

In [12]:
import pandas as pd

world_population = pd.read_csv('data/world_population.csv')

# inspect the first 5 rows
world_population.head()

   Year  Total Population
0  1960      3.034971e+09
1  1970               NaN
2  1980      4.436590e+09
3  1990      5.282716e+09
4  2000               NaN

### 2. tail() method

In [13]:
world_population.tail()

   Year  Total Population
1  1970               NaN
2  1980      4.436590e+09
3  1990      5.282716e+09
4  2000               NaN
5  2010      6.924283e+09

### 3. info() method

In [14]:
world_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
Year                6 non-null int64
Total Population    4 non-null float64
dtypes: float64(1), int64(1)
memory usage: 176.0 bytes

In [11]:
world_population.shape

(6, 2)

## NumPy and pandas working together

In [31]:
# Import numpy
import numpy as np

# Create array of DataFrame values: np_vals
np_vals = world_population['Total Population'].values

# Create new array of base 10 logarithm values: np_vals_log10
np_vals_log10 = np.log10(np_vals)

# Create array of new DataFrame by passing df to np.log10(): df_log10
df_log10 = np.log10(world_population)

# Print original and new data containers
print(type(np_vals), type(np_vals_log10))
print(type(world_population), type(df_log10))

<class 'numpy.ndarray'> <class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>

## Building data frame from scratch
### 1. Zip lists to build a DataFrame

In [20]:
keys = ['Country', 'Total']
values = [['United States', 'Soviet Union', 'United Kingdom'], [1118, 473, 273]]

# Zip the 2 lists together into one list of (key,value) tuples: zipped
zipped = list(zip(keys, values))

# Inspect the list using print()
print(zipped)

# Build a dictionary with the zipped list: data
data = dict(zipped)

# Build and inspect a DataFrame from the dictionary: df
df = pd.DataFrame(data)
print(df)

[('Country', ['United States', 'Soviet Union', 'United Kingdom']), ('Total', [1118, 473, 273])]
          Country  Total
0   United States   1118
1    Soviet Union    473
2  United Kingdom    273

### 2. Labeling your data

In [28]:
# keys contains top Billboard hits from the 1980s (from Wikipedia).
# Each row has the year, artist, song name and the number of weeks at the top.
keys = [['1980', 'Blondie', 'Call Me', '6'],
       ['1981', 'Chistorpher Cross', 'Arthurs Theme', '3'],
       ['1982', 'Joan Jett', 'I Love Rock and Roll', '7']]

df = pd.DataFrame(keys)
df

      0                  1                     2  3
0  1980            Blondie               Call Me  6
1  1981  Chistorpher Cross         Arthurs Theme  3
2  1982          Joan Jett  I Love Rock and Roll  7

In [29]:
df.columns

RangeIndex(start=0, stop=4, step=1)

In [32]:
col_names = ['year', 'artist', 'song', 'chart weeks']

df.columns = col_names
df

   year             artist                  song chart weeks
0  1980            Blondie               Call Me           6
1  1981  Chistorpher Cross         Arthurs Theme           3
2  1982          Joan Jett  I Love Rock and Roll           7

### 3. Building DataFrames with broadcasting

In [33]:
# Make a string with the value 'PA': state
state = 'PA'

# make a list of cities
cities = ['Manheim',  'Preston park',  'Biglerville', 'Indiana', 'Curwensville', 'Crown', 'Harveys lake', 'Mineral springs',
          'Cassville', 'Hannastown', 'Saltsburg', 'Tunkhannock', 'Pittsburgh', 'Lemasters', 'Great bend']
# Construct a dictionary: data
data = {'state':state, 'city':cities}

# Construct a DataFrame from dictionary data: df
df = pd.DataFrame(data)

# Print the DataFrame
df

               city state
0           Manheim    PA
1      Preston park    PA
2       Biglerville    PA
3           Indiana    PA
4      Curwensville    PA
5             Crown    PA
6      Harveys lake    PA
7   Mineral springs    PA
8         Cassville    PA
9        Hannastown    PA
10        Saltsburg    PA
11      Tunkhannock    PA
12       Pittsburgh    PA
13        Lemasters    PA
14       Great bend    PA

## Importing & exporting data
### 1. Reading a flat file

In [38]:
# Read in the file: df1
df1 = pd.read_csv('data/world_population.csv')

# Create a list of the new column labels: new_labels
new_labels = (['year', 'population'])

# Read in the file, specifying the header and names parameters: df2
df2 = pd.read_csv('data/world_population.csv', header=0, names=new_labels)

# Print both the DataFrames
print(df1)
print('-'*25)
print(df2)

   Year  Total Population
0  1960      3.034971e+09
1  1970               NaN
2  1980      4.436590e+09
3  1990      5.282716e+09
4  2000               NaN
5  2010      6.924283e+09
-------------------------
   year    population
0  1960  3.034971e+09
1  1970           NaN
2  1980  4.436590e+09
3  1990  5.282716e+09
4  2000           NaN
5  2010  6.924283e+09

### 2. Delimiters, headers, and extensions

In [44]:
# Read the raw file as-is: df1
df1 = pd.read_csv('data/messy_stock_data.tsv')

# Print the output of df1.head()
print(df1.head())

# Read in the file with the correct parameters: df2
df2 = pd.read_csv('data/messy_stock_data.tsv', delimiter=' ', header=3, comment='#')

# Print the output of df2.head()
print(df2.head())

# Save the cleaned up DataFrame to a CSV file without the index
df2.to_csv('data/file_clean.csv', index=False)

# Save the cleaned up DataFrame to an excel file without the index
df2.to_excel('data/file_clean.xlsx', index=False)

                                                   The following stock data was collect on 2016-AUG-25 from an unknown source
These kind of ocmments are not very useful                                                  are they?
probably should just throw this line away too          but not the next since those are column labels
name Jan Feb Mar Apr May Jun Jul Aug Sep Oct No...                                                NaN
# So that line you just read has all the column...                                                NaN
IBM 156.08 160.01 159.81 165.22 172.25 167.15 1...                                                NaN
     name     Jan     Feb     Mar     Apr     May     Jun     Jul     Aug  \
0     IBM  156.08  160.01  159.81  165.22  172.25  167.15  164.75  152.77
1    MSFT   45.51   43.08   42.13   43.47   47.53   45.96   45.61   45.51
2  GOOGLE  512.42  537.99  559.72  540.50  535.24  532.92  590.09  636.84
3   APPLE  110.64  125.43  125.97  127.29  128.76  127.81  125.34  113.39

      Sep     Oct     Nov     Dec
0  145.36  146.11  137.21  137.96
1   43.56   48.70   53.88   55.40
2  617.93  663.59  735.39  755.35
3  112.80  113.36  118.16  111.73