# Exploratory data analysis

Exploratory data analysis (EDA), is a crucial component of any data science project, and pandas has powerful methods that help with statistical and visual EDA.

## Pandas line plots

In [12]:
import pandas as pd
        
labels = ['Month', 'AAPL', 'GOOG', 'IBM']
stock_data = [['Jan', 117.160004, 534.5224450000002, 153.309998],
              ['Feb', 128.46000700000002, 558.402511, 161.940002],
              ['Mar', 124.43, 548.002468, 160.5],
              ['Apr', 125.150002, 537.340027, 171.28999299999995],
              ['May', 130.279999, 532.1099849999998, 169.649994],
              ['Jun', 125.43, 520.51001, 162.660004],
              ['Jul', 121.300003, 625.6099849999998, 161.990005],
              ['Aug', 112.760002, 618.25, 147.889999],
              ['Sep', 110.300003, 608.419983, 144.970001],
              ['Oct', 119.5, 710.8099980000002, 140.080002],
              ['Nov', 118.300003, 742.599976, 139.419998],
              ['Dec', 105.260002, 758.880005, 137.619995]]

df = pd.DataFrame(stock_data)
df.columns = labels
df

   Month        AAPL        GOOG         IBM
0    Jan  117.160004  534.522445  153.309998
1    Feb  128.460007  558.402511  161.940002
2    Mar  124.430000  548.002468  160.500000
3    Apr  125.150002  537.340027  171.289993
4    May  130.279999  532.109985  169.649994
5    Jun  125.430000  520.510010  162.660004
6    Jul  121.300003  625.609985  161.990005
7    Aug  112.760002  618.250000  147.889999
8    Sep  110.300003  608.419983  144.970001
9    Oct  119.500000  710.809998  140.080002
10   Nov  118.300003  742.599976  139.419998
11   Dec  105.260002  758.880005  137.619995

### import matplotlib.pyplot as plt
# Create a list of y-axis column names: y_columns
y_columns = ['IBM']

# Generate a line plot
df.plot(x='AAPL', y='IBM', kind='scatter')

# Add the title
plt.title('Monthly stock prices')

# Add the y-axis label
plt.ylabel('Price ($US)')

# Display the plot
plt.show()